.ComparisonPage {
    /* background-color: var(--white); */
    /* color: var(--black); */
    padding: 1em;
}

.ComparisonPageBody {
    display: flex;
    justify-content: left;
    margin-left: 2em;
}

.ComparisonPageBodyNoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    margin-top: 4em;
}

.DoctorCards {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.icon {
    /* float: right;
    vertical-align: bottom; */
    margin-left:15px;
    color: var(--Secondary);
}

.icon:hover {
    color: var(--Secondary-Dark);
}